.itemDetail-parent{
    width: 100%;
    background-color: rgb(252, 252, 252);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* height: fit-content; */
}
.itemDetails
{
    background-color: rgb(252, 252, 252);
}
.main-card{
    width: 60%;
    height: fit-content;
    margin: 10%;
    margin-top: 20px;
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-direction: row;
   padding: 10px;
   border-radius: 5px;
   box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.img{
    width: 40%;
    height: 100%;
    background-color: beige;
}
.card-img{
    height: fit-content;
    width: 100%;
}
.details{
    margin: 10px;
    width: 60%;
    background-color: transparent;
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;

}

.addToCart{
    width: 50%;
    padding: 15px;
    background-color: #ff3e6c;
    border: none;
    border-radius: 5px;
    color: white;
}
.addToCart:hover{
    background-color: #ff1b50;
}
.name-detail{
    font-size: xx-large;
    font-weight: bolder;
    color: rgb(61, 61, 61);
}
.metadata-detail{
    font-size: small;
    font-weight: lighter;
    color: rgb(167, 167, 167);
}
@media (max-width:768px){
    .main-card{
        display: flex;
        flex-direction: column;

    }
    .name-detail{
        font-size: larger;
    }
    .details{
        width: 95%;
        margin: 0;
        padding: 0;

    }
    .detail-child{
        margin: 10px;
    }
    .addToCart{
        width: 100%;
    }
    .img{
        width:100% ;
    }
}